.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.navigation {
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  margin-left: 2rem;
  cursor: pointer;
}
